hal_client_domain(bootanim, hal_audio)

allow bootanim sysfs_video:dir { search };
allow bootanim sysfs_video:file { open read write getattr };
allow bootanim input_device:dir {open read write search watch };
allow bootanim input_device:chr_file {open read write ioctl };
allow bootanim sysfs_display:file {open read write ioctl };
allow bootanim video_device:chr_file {open read write getattr ioctl };
allow bootanim sysfs_audio:file {open read write getattr };
allow bootanim system_data_file:file { open read };
allow bootanim system_data_file:dir { open read };
allow bootanim mediaserver_service:service_manager { find };
allow bootanim mediaserver:binder { call transfer };

allow bootanim audio_service:service_manager { find };

allow bootanim audioserver_service:service_manager { find };
allow bootanim audioserver:binder { call transfer };
allow bootanim mediametrics_service:service_manager { find };
allow bootanim mediametrics:binder { call transfer };
allow bootanim system_server:binder { call transfer };
allow bootanim systemcontrol_hwservice:hwservice_manager { find };
allow bootanim system_control:binder { call transfer };
allow bootanim ptsserver_device:chr_file { open read write ioctl };
allow bootanim dvb_device:chr_file { open read write ioctl };
allow bootanim codec_device:chr_file { open read write ioctl };
allow bootanim sysfs_stb:dir { search };
allow bootanim sysfs_stb:file { open read write };
allow bootanim vendor_video_device:chr_file { open read write ioctl };
allow bootanim mediasync_device:chr_file { open read write ioctl };
allow bootanim proc_asound:dir { search };
allow bootanim proc_asound:file { read open getattr };
allow bootanim uio_device:chr_file { open read write map };
allow bootanim sysfs_astream:dir { search };
allow bootanim sysfs_astream:file { open read write };
allow bootanim hal_audio_hwservice:hwservice_manager { find };
allow bootanim hal_audio_default:binder { call transfer };

allow bootanim hal_graphics_allocator_default_tmpfs:file rw_file_perms;
set_prop(bootanim, system_prop)
get_prop(bootanim, vendor_media_prop)
set_prop(bootanim, exported_system_prop)
allow bootanim system_data_file:dir search;
