allow dumpstate debugfs:dir r_file_perms;
allow dumpstate incidentd:binder call;
allow dumpstate param_tv_file:dir { getattr search };
allow dumpstate tee_vendor_file:dir { getattr search };
allow dumpstate sysfs_module:file { read open getattr };
allow dumpstate hal_light_default:binder call;
allow dumpstate hal_power_default:binder call;
allow dumpstate hal_graphics_allocator_default_tmpfs:file rw_file_perms;

allow dumpstate app_data_file:file append;
allow dumpstate system_app_data_file:file append;
allow dumpstate fuse:dir search;
allow dumpstate hal_audio_default:binder call;
allow dumpstate hal_graphics_composer_default:binder call;
allow dumpstate vold:binder { call };
allow dumpstate vold:fd { use };
allow dumpstate vold:fifo_file { write };
allow dumpstate hal_health_default:binder call;
allow dumpstate hal_ir_default:binder call;
allow dumpstate hal_wifi_supplicant_default:binder { call };
allow dumpstate update_engine:fifo_file { write };
allow dumpstate hal_bootctl_default:binder { call };
allow dumpstate hal_bootctl_default:fd { use };
allow dumpstate hal_bootctl_default:fifo_file { write };
allow dumpstate hal_cas_default:binder { call };
allow dumpstate hal_cas_default:fd { use };
allow dumpstate hal_cas_default:fifo_file { write };
allow dumpstate hal_gatekeeper_default:binder { call };
allow dumpstate hal_gatekeeper_default:fd { use };
allow dumpstate hal_tv_hdmi_cec_default:binder { call };
allow dumpstate hal_tv_hdmi_cec_default:fd { use };
allow dumpstate hal_tv_hdmi_cec_default:fifo_file { write };
allow dumpstate hal_tv_hdmi_connection_default:binder { call };
allow dumpstate hal_tv_hdmi_connection_default:fd { use };
allow dumpstate hal_tv_hdmi_connection_default:fifo_file { write };
allow dumpstate sysfs_cec:file read;
allow dumpstate sysfs_drm:file read;
allow dumpstate sysfs_display:file read;
allow dumpstate sysfs_amhdmitx:file read;
