type fulldump, domain;
type fulldump_data_file, file_type, data_file_type, mlstrustedobject;
type fulldump_sysfs, fs_type, sysfs_type;
type fulldump_exec, exec_type, vendor_file_type, file_type;

#permissive fulldump;
init_daemon_domain(fulldump)

allow fulldump powerctl_prop:property_service set;
allow fulldump vendor_shell_exec:file { rx_file_perms entrypoint };
allow fulldump vendor_toolbox_exec:file { rx_file_perms };
allow fulldump vendor_file:file { getattr execute read open execute_no_trans };
allow fulldump fulldump_data_file:file { create_file_perms create read write open };
allow fulldump fulldump_data_file:dir  { create_dir_perms write add_name };
allow fulldump sysfs:file { create open read write getattr };
allow fulldump fulldump_sysfs:file { open read write getattr };
allow fulldump fulldump_sysfs:dir r_dir_perms;
allow fulldump serial_device:chr_file { write open };
allow fulldump tmpfs:dir { create open add_name write read };
allow fulldump tmpfs:file { create read write open getattr };
allow fulldump tmpfs:lnk_file { create };
