#
# Copyright (C) 2023 Dolby International AB
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

type hal_droid_mdns_default, domain;
type hal_droid_mdns_default_exec, exec_type, vendor_file_type, file_type;

# allows transition from init to the daemon _exec domain
init_daemon_domain(hal_droid_mdns_default);

binder_use(hal_droid_mdns_default)

allow hal_droid_mdns_default hal_droid_mdns_default:udp_socket { create ioctl };
allow hal_droid_mdns_default hal_droid_mdns_default:netlink_generic_socket { create write read bind setopt bind getattr };
allow hal_droid_mdns_default hal_droid_mdns_default:capability { net_admin };
allow hal_droid_mdns_default hal_mdnsoffload_service:service_manager { add };
allow hal_droid_mdns_default dumpstate:fd { use };