allow hal_dumpstate_default proc:file r_file_perms;

allow hal_dumpstate_default { sysfs_video sysfs_display sysfs_amhdmitx sysfs_cec sysfs_am_vecm sysfs_di sysfs_dmc }:dir r_dir_perms;
allow hal_dumpstate_default { sysfs_video sysfs_display sysfs_amhdmitx sysfs_cec sysfs_am_vecm sysfs_di sysfs_dmc }:file rw_file_perms;
userdebug_or_eng(`
  allow hal_dumpstate_default { aml_debugfs }:dir r_dir_perms;
  allow hal_dumpstate_default { aml_debugfs }:file rw_file_perms;
')

allow hal_dumpstate_default { mnt_vendor_file param_tv_file }:dir rw_dir_perms;

allow hal_dumpstate_default shell_data_file:file getattr;
allow hal_dumpstate_default vendor_shell_exec:file rx_file_perms;
allow hal_dumpstate_default vendor_toolbox_exec:file rx_file_perms;
allow hal_dumpstate_default graphics_device:dir search;
allow hal_dumpstate_default tmpfs:dir read;

allow hal_dumpstate_default sysfs_audio_cap:file r_file_perms;
allow hal_dumpstate_default sysfs:file r_file_perms;

allow hal_dumpstate_default system_data_file:dir search;
allow hal_dumpstate_default vendor_file:file execute_no_trans;
allow hal_dumpstate_default sysfs_tee:dir search;
allow hal_dumpstate_default sysfs_tee:file r_file_perms;
allow hal_dumpstate_default mediametrics_service:service_manager find;
allow hal_dumpstate_default su:file read;
allow hal_dumpstate_default servicemanager:dir { getattr search };
allow hal_dumpstate_default servicemanager:file { read open };
allow hal_dumpstate_default hwservicemanager:dir { getattr search };
allow hal_dumpstate_default hwservicemanager:file { read open };
allow hal_dumpstate_default hal_gatekeeper_default:dir { read open getattr search };
allow hal_dumpstate_default hal_gatekeeper_default:file { read open getattr };
allow hal_dumpstate_default hal_oemlock_default:dir { read open getattr search };
allow hal_dumpstate_default hal_oemlock_default:file { read open getattr };
allow hal_dumpstate_default hal_tv_hdmi_cec_default:file read;
allow hal_dumpstate_default hal_drm_widevine:binder call;
allow hal_dumpstate_default hal_drm_clearkey_aidl:binder call;
allow hal_dumpstate_default tee_exec:file execute_no_trans;
allow hal_dumpstate_default drm_device:chr_file { read open write ioctl };
allow hal_dumpstate_default proc_pid_max:file { open read };
allow hal_dumpstate_default hal_tv_hdmi_connection_default:file { open read };
allow hal_dumpstate_default hal_usb_default:file { open read };
allow hal_dumpstate_default hal_light_default:file { open read };
allow hal_dumpstate_default proc_modules:file { open read getattr };
allow hal_dumpstate_default hidl_manager_hwservice:hwservice_manager { find };

allow hal_dumpstate_default hal_tv_hdmi_cec_default:dir { getattr search };
allow hal_dumpstate_default hal_tv_hdmi_connection_default:dir { getattr search };
allow hal_dumpstate_default hal_usb_default:dir { getattr search };
allow hal_dumpstate_default hal_light_default:dir { getattr search };
allow hal_dumpstate_default hal_tv_hdmi_cec_default:file { open read getattr };

# Access to vendor logging property
set_prop(hal_dumpstate_default, vendor_logging_prop)
allow hal_dumpstate_default shell:fd { use };
allow hal_dumpstate_default shell:fifo_file { write };
allow hal_dumpstate_default sysfs:file { write };
allow hal_dumpstate_default debugfs:file { getattr };
