allow hal_bluetooth_default device_stpbt:chr_file { read open write ioctl };
allow hal_bluetooth_default sysfs:file { read open write };
allow hal_bluetooth_default vendor_platform_prop:property_service { set };
allow hal_bluetooth_default vendor_platform_prop:file { read open getattr };
allow hal_bluetooth_default vendor_bluetooth_prop:file { read open getattr map};
allow hal_bluetooth_default wifi_power_device:chr_file rw_file_perms;

allow hal_bluetooth_default kernel:system module_request;
allow hal_bluetooth_default self:capability sys_module;
allow hal_bluetooth_default { system_file vendor_file }:system module_load;
allow hal_bluetooth_default proc_modules:file rw_file_perms;

allow hal_bluetooth_default device:dir rw_file_perms;
allow hal_bluetooth_default usb_device:dir rw_file_perms;

allow hal_bluetooth_default vendor_data_file:dir  { search add_name rw_file_perms remove_name};
allow hal_bluetooth_default vendor_data_file:file  { open setattr create read write getattr rename unlink};

allow hal_bluetooth_default vendor_data_file:sock_file { create unlink read write };

get_prop(hal_bluetooth_default, bluetooth_prop);
get_prop(hal_bluetooth_default, vendor_bluetooth_prop);
get_prop(hal_bluetooth_default, vendor_platform_prop);
set_prop(hal_bluetooth_default, vendor_platform_prop);
