allow init self:capability { sys_module };
# add system_control service
domain_trans(init, system_control_exec, system_control)
domain_auto_trans(init, system_control_exec, system_server)

#allow init imageserver_service:service_manager add;
domain_trans(init, imageserver_exec, imageserver)

allow init fuse:file { open read write };
allow init fuse:dir search;

#allow dig service
domain_trans(init, dig_exec, dig)
domain_auto_trans(init, dig_exec, dig)

#allow tvserver service
domain_trans(init, tvserver_exec, tvserver)
domain_auto_trans(init, tvserver_exec, tvserver)

domain_auto_trans(init, tvcp_exec, tvcp)

allow init vfat:dir rw_dir_perms;
allow init vfat:file create_file_perms;
allow init init_shell:process { signull signal };
