allow shell rootfs:file { entrypoint execute read getattr };
allow shell sysfs_amhdmitx:file { open read write getattr };
allow shell sysfs_amhdmitx:dir search;
allow shell sysfs_remote:dir search;
allow shell sysfs_remote:file { open read write getattr };

allow shell metadata_file:dir getattr;
allow shell unlabeled:dir getattr;

get_prop(shell, device_config_runtime_native_boot_prop);
allow shell hdcptx_device:chr_file { open read write getattr ioctl };
allow shell hal_oemlock_default:binder { call transfer };
allow shell vendor_file:file {read getattr open map execute};
allow shell hal_dumpstate_default:binder { call };

allow shell vendor_file:file execute_no_trans;
allow shell drm_device:chr_file { ioctl open read write };
