typeattribute mnt_media_rw_file mlstrustedobject;
allow untrusted_app system_control:binder { call };

allow untrusted_app nearby_service:service_manager { find };

#allow untrusted_app vendor_file:file { read open getattr };
allow untrusted_app hal_graphics_allocator_default_tmpfs:file rw_file_perms;

allow untrusted_app mnt_media_rw_file:dir { getattr read open };

get_prop(untrusted_app, vendor_netflix_prop)
allow untrusted_app galcore_device:chr_file { write open read getattr ioctl };

allow untrusted_app adla_device:chr_file { write open read getattr ioctl };

allow untrusted_app systemcontrol_hwservice:hwservice_manager find;

allow untrusted_app_32 systemcontrol_hwservice:hwservice_manager { find };

allow untrusted_app_32 system_control:binder { call };

allow untrusted_app hal_neuralnetworks_adla:binder { call };

allow untrusted_app_30 hal_neuralnetworks_adla:binder { call };

allow untrusted_app_32 hal_neuralnetworks_adla:binder { call };

allow untrusted_app hal_adla_service:service_manager {find};

allow untrusted_app_30 hal_adla_service:service_manager {find};

allow untrusted_app_32 hal_adla_service:service_manager {find};


