on post-fs-data
    mkdir /data/vendor/ramdump 0770 root system
    #restorecon_recursive -R /data/vendor/ramdump
    #exec - root root -- /vendor/bin/fulldump.sh
    start fulldump

service fulldump /vendor/bin/sh /vendor/bin/fulldump.sh
    user root
    group root system
    disabled
    oneshot
    #class main
    seclabel u:r:fulldump:s0