on early-init
    write /sys/module/firmware_class/parameters/path "/vendor/lib/firmware/"
    exec_start modules_load

service modules_load /vendor/bin/modules_load
    class main
    user root
    group root system
    disabled
    oneshot

