allow platform_app mdnsd:unix_stream_socket connectto;
allow platform_app mdnsd_socket:sock_file write;

allow platform_app hal_utility_hwservice:hwservice_manager { find };
allow platform_app hal_utility:binder { call transfer };
allow platform_app hal_utility_service:service_manager { find };
allow platform_app pmsg_device:chr_file { ioctl };
allow platform_app debugfs_trace_marker:file { ioctl };
allow platform_app system_file:file { ioctl };
allow platform_app binder_device:chr_file { ioctl };
allow platform_app self:tcp_socket { ioctl };
allow platform_app self:udp_socket { ioctl };
allow platform_app proc_net:file { read open getattr };
allow mdnsd platform_app:unix_stream_socket { read write };
allow mdnsd platform_app:fd { use };
