service wifi_fw_log /vendor/bin/hw/aml_comm_diag -b 200
    class main
    user root
    group root shell
    disabled

on property:sys.boot_completed=1
    exec /system/bin/sleep 3
    start wifi_fw_log

